<h1>this is the campground page</h1>

<div>
    <a></a>
</div>

<div>

<%element.forEach((campground)=>{%>
    <div>
        <h4><%=campground.title %></h4>
        <img src="<%=campground.img%>"> 
        <h3><a href="/campgrounds/<%=campground._id%>">more info</a></h3>
    </div>

<% }) %>

</div>